/****** Object:  Table [dbo].[documento]    Script Date: 09/01/2021 07:48:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[documento](
	[Clave] [varchar](20) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[DescripcionBreve] [varchar](30) NULL,
	[Etiqueta] [varchar](10) NULL,
	[Tipo] [int] NOT NULL,
	[Archivo] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_documento] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[estado]    Script Date: 09/01/2021 07:48:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estado](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](40) NOT NULL,
 CONSTRAINT [PK_estado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[log]    Script Date: 09/01/2021 07:48:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[log](
	[Uid] [varchar](36) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Accion] [tinyint] NOT NULL,
	[Valor] [varchar](max) NOT NULL,
	[Modulo] [varchar](40) NOT NULL,
	[Usuario] [varchar](15) NOT NULL,
	[IP] [varchar](15) NOT NULL,
 CONSTRAINT [PK_log] PRIMARY KEY CLUSTERED 
(
	[Uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[notaevolucion]    Script Date: 09/01/2021 07:48:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[notaevolucion](
	[Id] [bigint] NOT NULL,
	[Titulo] [varchar](30) NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Paciente] [bigint] NOT NULL,
	[Usuario] [varchar](15) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_notaevolucion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[paciente]    Script Date: 09/01/2021 07:48:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[paciente](
	[Id] [bigint] NOT NULL,
	[ApellidoPaterno] [varchar](80) NOT NULL,
	[ApellidoMaterno] [varchar](80) NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[TelContacto] [varchar](10) NOT NULL,
	[Responsable] [varchar](200) NOT NULL,
	[LugarResidencia] [varchar](200) NOT NULL,
	[Estatus] [char](1) NOT NULL,
	[Tipo] [tinyint] NOT NULL,
 CONSTRAINT [PK_paciente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pago]    Script Date: 09/01/2021 07:48:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pago](
	[Uid] [bigint] NOT NULL,
	[Tratamiento] [bigint] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Folio] [varchar](30) NOT NULL,
	[Importe] [decimal](7, 2) NOT NULL,
	[Concepto] [varchar](200) NOT NULL,
 CONSTRAINT [PK_pago] PRIMARY KEY CLUSTERED 
(
	[Uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_documento]    Script Date: 09/01/2021 07:48:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_documento](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tipo_documento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tratamiento]    Script Date: 09/01/2021 07:48:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tratamiento](
	[Id] [bigint] NOT NULL,
	[Paciente] [bigint] NOT NULL,
	[FechaIngreso] [datetime] NOT NULL,
	[FechaSalida] [datetime] NOT NULL,
	[CostoIngreso] [decimal](7, 2) NOT NULL,
	[PlanMensual] [decimal](7, 2) NOT NULL,
 CONSTRAINT [PK_tratamiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 09/01/2021 07:48:06 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuarios](
	[Usuario] [varchar](15) NOT NULL,
	[Password] [varchar](15) NOT NULL,
	[Tipo] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[documento]  WITH CHECK ADD  CONSTRAINT [FK_documento_tipo_documento] FOREIGN KEY([Tipo])
REFERENCES [dbo].[tipo_documento] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[documento] CHECK CONSTRAINT [FK_documento_tipo_documento]
GO
ALTER TABLE [dbo].[notaevolucion]  WITH CHECK ADD  CONSTRAINT [FK_notaevolucion_estado] FOREIGN KEY([Estado])
REFERENCES [dbo].[estado] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notaevolucion] CHECK CONSTRAINT [FK_notaevolucion_estado]
GO
ALTER TABLE [dbo].[notaevolucion]  WITH CHECK ADD  CONSTRAINT [FK_notaevolucion_paciente] FOREIGN KEY([Paciente])
REFERENCES [dbo].[paciente] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notaevolucion] CHECK CONSTRAINT [FK_notaevolucion_paciente]
GO
ALTER TABLE [dbo].[notaevolucion]  WITH CHECK ADD  CONSTRAINT [FK_notaevolucion_usuarios] FOREIGN KEY([Usuario])
REFERENCES [dbo].[usuarios] ([Usuario])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notaevolucion] CHECK CONSTRAINT [FK_notaevolucion_usuarios]
GO
ALTER TABLE [dbo].[pago]  WITH CHECK ADD  CONSTRAINT [FK_pago_tratamiento] FOREIGN KEY([Tratamiento])
REFERENCES [dbo].[tratamiento] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pago] CHECK CONSTRAINT [FK_pago_tratamiento]
GO
ALTER TABLE [dbo].[tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_tratamiento_paciente] FOREIGN KEY([Paciente])
REFERENCES [dbo].[paciente] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tratamiento] CHECK CONSTRAINT [FK_tratamiento_paciente]
GO
