<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="True"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
      <add key="Reportes" value="C://ReportesXSD/"/>
      <add key="RutaBD" value="C://RespaldoSistema/"/>
      <add key="db" value="Server=JOSEGCV\SQLEXPRESS;Database=SoftClinic;Trusted_Connection=True;TrustServerCertificate=True;"/>
    </appSettings>
</configuration>
