<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="Emisor" value="cursos.netcore@gmail.com" />
      <add key="Receptor" value="josecoronel88@gmail.com" />
      <add key="user" value="cursos.netcore@gmail.com" />
      <add key="pwd" value="Y3Vyc29zLm5ldC4z" />
      <add key="RutaBD" value="C://RespaldoSistema/"/>
      <add key ="db" value="RGF0YSBTb3VyY2U9Sk9TRS1DT1JPTkVMXENPUk9ORUw7SW5pdGlhbCBDYXRhbG9nPVNvZnRDbGluaWM7VWlkPXNhO1B3ZD0xMjM0NTY7" />
    </appSettings>
</configuration>
