CREATE TABLE documento 
(
	Clave varchar (20) NOT NULL,
	Nombre varchar (50) NOT NULL,
	Descripcion varchar (150) NOT NULL,
	DescripcionBreve varchar (30) NULL,
	Etiqueta varchar (10) NULL,
	Tipo int NOT NULL,
	Archivo varbinary (max) NOT NULL,
	CONSTRAINT PK_documento PRIMARY KEY CLUSTERED (Clave)
)

CREATE TABLE estado
(
	Id int NOT NULL,
	Nombre varchar (40) NOT NULL,
	CONSTRAINT PK_estado PRIMARY KEY CLUSTERED (Id)
)

CREATE TABLE log
(
	Uid varchar (36) NOT NULL,
	Fecha datetime NOT NULL,
	Accion tinyint NOT NULL,
	Valor varchar (max) NOT NULL,
	Modulo varchar (40) NOT NULL,
	Usuario varchar (15) NOT NULL,
	IP varchar (15) NOT NULL,
	CONSTRAINT PK_log PRIMARY KEY CLUSTERED (Uid) 
)

CREATE TABLE notaevolucion
(
	Id bigint NOT NULL,
	Titulo varchar (30) NOT NULL,
	Descripcion varchar (150) NOT NULL,
	Fecha datetime NOT NULL,
	Paciente bigint NOT NULL,
	Usuario varchar (15) NOT NULL,
	Estado int NOT NULL,
	CONSTRAINT PK_notaevolucion PRIMARY KEY CLUSTERED (Id)
)

CREATE TABLE paciente
(
	Id bigint NOT NULL,
	ApellidoPaterno varchar (80) NOT NULL,
	ApellidoMaterno varchar (80) NOT NULL,
	Nombre varchar(80) NOT NULL,
	TelContacto varchar (10) NOT NULL,
	Responsable varchar (200) NOT NULL,
	LugarResidencia varchar (200) NOT NULL,
	Estatus char (1) NOT NULL,
	Tipo tinyint NOT NULL,
	CONSTRAINT PK_paciente PRIMARY KEY CLUSTERED (Id) 
)

CREATE TABLE pago
(
	Uid bigint NOT NULL,
	Tratamiento bigint NOT NULL,
	Fecha datetime NOT NULL,
	Folio varchar (30) NOT NULL,
	Importe decimal (7, 2) NOT NULL,
	Concepto varchar (200) NOT NULL,
	CONSTRAINT PK_pago PRIMARY KEY CLUSTERED (Uid)
)

CREATE TABLE tipo_documento
(
	Id int NOT NULL,
	Nombre varchar (50) NOT NULL,
	CONSTRAINT PK_tipo_documento PRIMARY KEY CLUSTERED (Id) 
)

CREATE TABLE tratamiento
(
	Id bigint NOT NULL,
	Paciente bigint NOT NULL,
	FechaIngreso datetime NOT NULL,
	FechaSalida datetime NOT NULL,
	CostoIngreso decimal (7, 2) NULL,
	PlanMensual decimal (7, 2) NULL,
	CONSTRAINT PK_tratamiento PRIMARY KEY CLUSTERED (Id) 
)

CREATE TABLE usuarios
(
	Usuario varchar (15) NOT NULL,
	Password varchar (15) NOT NULL,
	Tipo char (1) NOT NULL,
	CONSTRAINT PK_usuarios PRIMARY KEY CLUSTERED (Usuario)
)

CREATE TABLE colaboradores 
(
	Id bigint not null,
	Nombre varchar(100) not null,
	CONSTRAINT PK_colaboradores Primary Key CLUSTERED (Id)
)

CREATE TABLE colaboradoresDetalle
(
	Id bigint not null,
	ColaboradorId bigint not null,
	FechaEmision date not null,
	Importe decimal(7,2) not null,
	Pagado bit not null,
	FechaPago date null,
	Concepto varchar(200) null,
	CONSTRAINT PK_colaboradorDetalle PRIMARY KEY CLUSTERED (Id),
	CONSTRAINT FK_colaboradorDetalle_colaboradores FOREIGN KEY (ColaboradorId) REFERENCES colaboradores (Id)
)


ALTER TABLE documento  WITH CHECK ADD  CONSTRAINT FK_documento_tipo_documento FOREIGN KEY (Tipo)
REFERENCES tipo_documento (Id)
ON UPDATE CASCADE
ON DELETE CASCADE

ALTER TABLE documento CHECK CONSTRAINT FK_documento_tipo_documento

ALTER TABLE notaevolucion  WITH CHECK ADD  CONSTRAINT FK_notaevolucion_estado FOREIGN KEY (Estado)
REFERENCES estado (Id)
ON UPDATE CASCADE
ON DELETE CASCADE

ALTER TABLE notaevolucion CHECK CONSTRAINT FK_notaevolucion_estado

ALTER TABLE notaevolucion  WITH CHECK ADD  CONSTRAINT FK_notaevolucion_paciente FOREIGN KEY (Paciente)
REFERENCES paciente (Id)
ON UPDATE CASCADE
ON DELETE CASCADE

ALTER TABLE notaevolucion CHECK CONSTRAINT FK_notaevolucion_paciente

ALTER TABLE notaevolucion  WITH CHECK ADD  CONSTRAINT FK_notaevolucion_usuarios FOREIGN KEY (Usuario)
REFERENCES usuarios (Usuario)
ON UPDATE CASCADE
ON DELETE CASCADE

ALTER TABLE notaevolucion CHECK CONSTRAINT FK_notaevolucion_usuarios

ALTER TABLE pago  WITH CHECK ADD  CONSTRAINT FK_pago_tratamiento FOREIGN KEY (Tratamiento)
REFERENCES tratamiento (Id)
ON UPDATE CASCADE
ON DELETE CASCADE

ALTER TABLE pago CHECK CONSTRAINT FK_pago_tratamiento

ALTER TABLE tratamiento  WITH CHECK ADD  CONSTRAINT FK_tratamiento_paciente FOREIGN KEY (Paciente)
REFERENCES paciente (Id)
ON UPDATE CASCADE
ON DELETE CASCADE

ALTER TABLE tratamiento CHECK CONSTRAINT FK_tratamiento_paciente
